@import "../../UniversalStyles";
.addCaseForm {
  padding: 3em;
}

.addCaseForm h4 {
  font-weight: 400;
  padding-top: 1em;
}

.choice {
  padding-bottom: 0.5em;
}

.choicelist {
  opacity: 1;
}

.itemPics {
  .col {
    height: 11.3rem;
    @include media-breakpoint-down(sm) {
      height: 15.2rem;
    }
    @include media-breakpoint-only(xs) {
      height: 17.2rem;
    }
    .box {
      position: relative;
      overflow: hidden;
      height: 160px;
      .checkbox {
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        right: 0;
        background: #fff;
      }
      small {
        background: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
      }
      text-align: center;
      &.lead {
        border: 4px solid $interactive-color;
        .checkbox {
          background-image: url("../../img/check.png");
          background-repeat: no-repeat;
          background-size: 1.4rem;
        }
      }
    }
  }
}
