@import "../../UniversalStyles";

.search-bar {
  width: 100%;
  border: 0;
  padding: 0px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 12px 0;
  height: 40px;
  color: #fff;
  font-weight: 100;
  padding-left: 36px;

  background-image: url(/img/pp-search-icon.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 12px 12px;

  &:focus {
    background-color: #fff;
    color: #333;
    background-image: url(/img/pp-search-icon-dark.png);
  }

  @include media-breakpoint-down(md) {
    box-sizing: border-box;
  }

}

.search-bar::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-bar::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-bar:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.search-bar:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
