@import "../../UniversalStyles";

.select-type {
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  .col-xs-10 {
    padding-top: 3%;
  }
  @include media-breakpoint-only(md) {
    padding-top: 14%;
  }
	p {
    padding: 14px 0;
    text-align: center;
    background: $interactive-color;
    text-transform:uppercase;
    color: white;
    &:hover, &:focus {
      background: lighten($interactive-color, 10%);
    }
  }
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
