@import "./UniversalStyles";

@mixin tab {
  border-bottom: 1px solid #ece8e6;
  padding: 14px 56px 14px 0;
  position: relative;

  @media (max-width: 639px) {
    padding: 16px;
    padding-right: 16px;
  }

  .title {
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    text-transform: capitalize;
    @include media-breakpoint-up(sm) {
      &:hover, &:focus {
        color:$interactive-color;
      }
    }

    @include media-breakpoint-down(sm) { 
      padding: 16px;
      margin: -16px;
    }
  }

  &:after {
    content: "";
    background-image: url("../../img/pp-map-arrow-icon-grey-down.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 16px;
    display: block;
    background-size: contain;
    opacity: 0.5;
    position: absolute;
    top: 24px;
    right: 24px;

    @include media-breakpoint-down(sm) { 
      width: 24px;
      height: 12px;
      top: 17px;
      right: 16px;
    }
  }
}

.accordion {
  >.tab {
    @include tab;
    
    .content {
      display: none;
    }

    >.sub-content {
      display: none;
    }
  }
}

.accordion {
  >.tab-open {
    @include tab;

    .title {
      color: $interactive-color;
    }

    &:after {
      background-image: url("../../img/pp-map-arrow-icon-grey-up.png");
    }

    .content {
      display: block;
      padding-top: 14px;
    }

    >.sub-content {
      display: block;
    }
  }
}  

.sub-accordion {
  .tab-open {
    position:relative;
    &::before {
      background-image: url("../../img/pp-map-arrow-icon-grey-up.png");
      content: "";
      position: absolute;
      left:0;
      top: 10px;
      background-repeat: no-repeat;
      width: 20px;
      height: 16px;
      background-size: contain;
      opacity: 0.5;
    }
    .title {
      padding-left: 2.5rem;
    }
  }
    .tab {
      position:relative;
      &::before {
        background-image: url("../../img/pp-map-arrow-icon-grey-down.png");
        content: "";
        position: absolute;
        left:0;
        top: 10px;
        background-repeat: no-repeat;
        width: 20px;
        height: 16px;
        background-size: contain;
        opacity: 0.5;
      }
      .title {
        color: #000;
        padding-left: 2.5rem;
      }
      .sub-content {
      display: none;
      } 
  }
  .title {
    display: inline;
  }
}
