@import "./UniversalStyles";

.case-images {
  overflow: hidden;
  margin-bottom:10px;
  height:180px;
  max-width:400px;
  @include media-breakpoint-up(md) {
    height:160px;
  }
  @include media-breakpoint-up(xl) {
    height:200px;
  }
  img {
    width:100%;
    height:auto;
    position:relative;
    top:50%;
    transform:translate(0, -50%);
  }
}

.list-item, .grid-item {
  a:hover {
    text-decoration: none;
  }
}

.separator {
  padding-top: 28px;
  float: left;
  width: 100%;
  &:before {
    content : "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 30px);
    border-bottom: 2px solid $dark-grey;
  }
}

.thumbnail {
  width: 100%;
  max-width:400px;
  height: 180px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  background-color: $dark-grey;
  cursor: pointer;
  position:relative;
  @include media-breakpoint-up(md) {
    height:160px;
  }
  @include media-breakpoint-up(xl) {
    height:200px;
  }
  &:after {
    content:"";
    position:absolute;
    opacity:.25;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  &.case {
    &:after {
      background:url('../../img/icon-thumbnail-case.svg') no-repeat center center;
      background-size:20%;
    }
  }
  &.method {
    &:after {
      background:url('../../img/icon-thumbnail-method.svg') no-repeat center center;
      background-size:20%;
    }
  }
  &.organization {
    &:after {
      background:url('../../img/icon-thumbnail-organization.svg') no-repeat center center;
      background-size:20%;
    }
  }
  &.news {
    &:after {
      background:url('../../img/icon-thumbnail-news.svg') no-repeat center center;
      background-size:20%;
    }
  }
}

.list-item {
  .thumbnail {
    margin-bottom:0;
  }
}
.result-type-text {
  text-transform:uppercase;
  color:$grey-text;
  font-weight:600;
  font-size:.9rem;
  margin:20px 0 10px;
  letter-spacing:0.075rem;
}
.result-title-text {
  color: $primary-color;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 6px;
  max-height: 78px;
  overflow: hidden;
  font-weight:600;
  word-break:break-word;
  &:hover, &:focus {
    text-decoration:underline;
    color:$interactive-color;
  }
}
