@import "./UniversalStyles";

.case-images {
  overflow: hidden;
  margin-bottom:10px;
  img {
    max-height: 160px;
  }
}

.list-item, .grid-item {
  padding-top: 28px;
  a:hover {
    text-decoration: none;
  }
}

.separator {
  padding-top: 28px;
  float: left;
  width: 100%;
  &:before {
    content : "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 30px);
    border-bottom: 2px solid #f3efec;
  }
}

.thumbnail {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  background-color: #f3efec;
  cursor: pointer;
}

.result-title-text {
  color: $red;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 6px;
  max-height: 78px;
  overflow: hidden;
  &:hover, &:focus {
    text-decoration:underline;
  }
}
