.result-category {
  color: #000;
  margin-bottom:20px;
}

.category-title {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #323232;
  line-height: 30px;
  padding: 20px 0 14px;
  border-bottom:2px solid #eee;
}

.results {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
