@import "../../UniversalStyles";
.result-category {
  color: #000;
  margin-bottom:20px;
}

.category-title {
  font-size: 3rem;
  font-weight: $medium-weight;
  color: #323232;
  line-height: 30px;
  padding: 20px 0;
  border-bottom: 3px solid #323232;
}

.results {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
