@import "./UniversalStyles";

.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.search-results-component {
  padding-top: 32px;

  .sidepanel {
    padding: 0 32px;

    .sorting-options {
      padding: 12px 0;
      border-top: 2px solid #eee;
      border-bottom: 2px solid #eee;
      margin-top: 70px;

      a {
        font-size: 1rem;
        font-weight: 400;
        color: #666;
        display: block;
        line-height: 26px;
        transition: 100ms ease-in-out color;
        text-transform: capitalize;

        &.selected, &:hover, &:focus {
          color: $red;
        }
      }

      .current-sorting-selection {
        font-size: 1rem;
        font-weight: 400;
        color: $red;
        display: block;
        line-height: 26px;
        text-transform: capitalize;
        display: none;
      }
    }

    .open-mobile-menu {}
  }
}

  .search-actions-area {
    //border-bottom: 2px solid #eee;
    background:#eee;
    padding: 0;
    position:relative;
    &:before {
      content:"";
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      background:rgba(0,0,0,.05);
      height:4px;
    }

    .filters {
      float: left;
    }

    .filters a {
      font-size: 1rem;
      font-weight: 600;
      text-transform:uppercase;
      color: $black;
      display: block;
      line-height: 26px;
      float: left;
      padding: 14px 20px 10px;
      //margin-right: 24px;
      transition: 100ms ease-in-out color, 100ms ease-in-out border;
      border-bottom: 4px solid #eee;
    }

    @include media-breakpoint-down(sm) {
      .filters a {
        float: none;
        border: 0 !important;
      }
    }
    .filters a.selected {
      background: $red;
      border-bottom: 4px solid darken($red,10%);
      color:#fff;
      &:hover, &:focus {
        background: $red;
        color:#fff;
        border-bottom: 4px solid darken($red,10%);
      }
    }
    .filters a:hover,
    .filters a:focus {
      text-decoration: none;
      color: $red;
      background: #ddd;
      border-bottom: 4px solid $red;
    }

    .view-types {
      float: right;
      margin-top:10px;
      margin-right:10px;

      a {
        display: block;
        float: left;

        img {
          height: 34px;
          opacity: 0.2;
          margin-top: -3px;

          &.dl-icon {
            height: 22px;
            margin-top: 4px;
            margin-left: 8px;
          }

          &:last-child {
            display: none;
            opacity: 1;
          }
        }
      }

      a.selected, a:hover, a:focus {
        img:first-child {
          display: none;
        }

        img:last-child {
          display: block;
        }
      }
    }


  .results-box {
    .category-title {
      font-size: 1.8rem;
      font-weight: 400;
      color: #ff6f00;
      line-height: 30px;
      padding: 21px 0 7px 0;
    }

    .results {
      overflow: hidden;
    }
  }
}

.result-count {
  padding: 14px 0;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: #999;
    line-height: 26px;
  }
  .result-author {
    margin-bottom:0;
    color:$black;
  }
}

.mobile-select {
  width: 100%;
  color: $red;
  padding: 7px;
  background-color: white;
  appearance: none;
  background: url('../../img/dropdown.png') no-repeat right;
}
