@import "./UniversalStyles";

.main-contents {
  min-height: 200px;
  position:relative;
  z-index:20;
}

.unselected {
  color: black;
}

.search-results-component {
  padding-top: 30px;

  .sidepanel {
    padding: 0 15px;
    @include media-breakpoint-up(lg){
      padding:0 30px 0 15px;
    }

    .sorting-options {
      border-top: 1px solid $dark-grey;
      margin-top: 70px;

      div {
        font-size: 1rem;
        font-weight: 500;
        color: #666;
        display: block;
        line-height: 26px;
        padding:12px 10px;
        border-bottom:1px solid $dark-grey;
        transition: 100ms ease-in-out color;
        text-transform: capitalize;
        cursor:pointer;
        &.selected, &:hover, &:focus {
          color: $interactive-color;
          background: lighten($light-grey,3%);
        }
      }

      .current-sorting-selection {
        font-size: 1rem;
        font-weight: 400;
        color: $interactive-color;
        display: block;
        line-height: 26px;
        text-transform: capitalize;
        display: none;
      }
    }

    .open-mobile-menu {}
  }
}

.search-actions-area {
  padding: 0;
  position:relative;
  @include media-breakpoint-up(lg) {
    top:-100px;
    background:#fff;
    height:70px;
  }
  &:before {
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.05);
    height:4px;
  }

  .filters {
    float: left;
  }

  .filters div {
    font-size: 1.2rem;
    font-weight: 600;
    color: $primary-color;
    display: block;
    line-height: 26px;
    padding: 18px 18px 14px;
    transition: 100ms ease-in-out color, 100ms ease-in-out border, 100ms ease-in-out background;
    position:relative;
    
    float: none;
    border: 0 !important;
    
    @include media-breakpoint-up(sm) {
      float: left;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.15rem;
      padding: 12px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      padding: 24px 20px 20px;
    }
    &:after {
      content:"";
      position:absolute;
      top:12px;
      bottom:10px;
      right:-2px;
      width:2px;
      background:$light-grey;
    }
    &:first-child:before {
      content:"";
      position:absolute;
      top:12px;
      bottom:10px;
      left:0;
      width:2px;
      background:$light-grey;
      @include media-breakpoint-up(lg) {
        display:none;
      }
    }
    &:first-child {
      @include media-breakpoint-up(lg) {
        padding-left:24px;
      }
    }
  }

  .filters div.selected {
    background: transparent;
    border-bottom: 4px solid $black;
    color: $interactive-color;
    &:hover {
      border-bottom: 4px solid darken($interactive-color,10%);
    }
  }
  .filters div:hover {
    text-decoration: none;
    color: $interactive-color;
    background: $light-grey;
    border-bottom: 4px solid $interactive-color;
    &:after {
      display:none;
    }
  }
  .filters div:focus {
    text-decoration:none;
  }

  .view-types {
    float: right;
    margin-right:10px;
    @include media-breakpoint-up(md) {
      margin-top:10px;
    }
    @include media-breakpoint-up(lg) {
      margin-top:20px;
    }

    div {
      display: block;
      float: left;

      img {
        height: 34px;
        opacity: 0.2;
        margin-top: -3px;

        &.dl-icon {
          height: 22px;
          margin-top: 4px;
          margin-left: 8px;
        }

        &:last-child {
          display: none;
          opacity: 1;
        }
      }
    }

    div.selected, div:hover, div:focus {
      img:first-child {
        display: none;
      }

      img:last-child {
        display: block;
      }
    }
  }
}

.search-results-component {
  .col-md-9 {
    padding:0;
    @include media-breakpoint-up(md) {
      padding-left:15px;
      padding-right:15px;
    }
  }
}
.results-box {
  .col-md-4 {
    width:100%;
    @include media-breakpoint-up(sm) {
      width:50%;
    }
    @include media-breakpoint-up(lg) {
      width:33.333333%;
    }
  }
  .category-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ff6f00;
    line-height: 30px;
    padding: 21px 0 7px 0;
  }

  .results {
    overflow: hidden;
  }
}

.search-results {
  @include media-breakpoint-up(lg) {
    padding:0;
    position:relative;
    top:-80px; // XXX don't understand what this is doing.
  }
  
}

.search-term {
  font-size: 2.3rem;
}

.result-count {
  padding: 14px 0;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: $grey-text;
    line-height: 26px;
  }
  .result-author {
    margin-bottom:0;
    color:$primary-color;
    line-height:1rem;
    margin-top:10px;
  }
}

.mobile-select {
  width: 100%;
  color: $interactive-color;
  padding: 7px;
  background-color: white;
  appearance: none;
  background: url('../../img/dropdown.png') no-repeat right;
  background-size:30px;
}

.featured-searches-header {
  padding-top: 1em;
  padding-left: 1ex;
  text-transform: uppercase;
}

.featured-searches {
  padding-left: 2em;
  padding-top: 1ex;
  a {
    color: $primary-color;
    &.selected, &:hover, &:focus {
      color: $interactive-color;
      background: lighten($light-grey,3%);
    }
  }
}
