@import "./UniversalStyles";

.main-contents {
  min-height: 200px;
  position: relative;
  z-index: 20;
}

.unselected {
  color: black;
}

.search-results-component {
  .sidepanel {
    display: none; //sidebar override
    padding: 0 15px;
    @include media-breakpoint-up(lg) {
      padding: 0 30px 0 15px;
    }
    @include media-breakpoint-up(xl) {
      padding: 0 60px 0 15px;
    }

    .sorting-options {
      border-top: 1px solid $dark-grey;
      margin-top: 60px;

      div {
        font-size: 1rem;
        font-weight: $medium-weight;
        color: #666;
        display: block;
        line-height: 26px;
        padding: 12px 10px;
        border-bottom: 1px solid $dark-grey;
        transition: 100ms ease-in-out color;
        text-transform: capitalize;
        cursor: pointer;
        &.selected,
        &:hover,
        &:focus {
          color: $interactive-color;
          background: lighten($light-grey, 3%);
        }
      }

      .current-sorting-selection {
        font-size: 1rem;
        font-weight: 400;
        color: $interactive-color;
        display: block;
        line-height: 26px;
        text-transform: capitalize;
        display: none;
      }
    }
  }
}

.search-actions-area {
  padding: 0;
  position: relative;
  @include media-breakpoint-up(lg) {
    background: #fff;
    height: 60px;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    height: 1px;
  }

  .filters {
    float: left;
  }

  .filters div {
    cursor: pointer;
    font-weight: $medium-weight;
    color: $primary-color;
    text-transform: capitalize;
    display: block;
    line-height: 26px;
    padding: 18px 18px 14px;
    transition: 100ms ease-in-out color, 100ms ease-in-out border,
      100ms ease-in-out background;
    position: relative;

    float: none;
    border: 0 !important;

    @include media-breakpoint-up(sm) {
      float: left;
    }
    @include media-breakpoint-up(md) {
      font-size: 1rem;
      padding: 12px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      padding: 24px 14px 10px;
    }
  }

  .filters div{
    &.unselected a {
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
    &.selected {
      background: transparent;
      border-bottom: 4px solid $black;
      a {
        color: $interactive-color;
      }
      &:hover {
        border-bottom: 4px solid darken($interactive-color, 10%);
      }
      &:after {
        content: "";
        position: absolute;
        height: 4px;
        bottom: 0;
        right: 0;
        left: 0;
        background: $interactive-color;
      }
    }
  }
  .filters div:hover {
    text-decoration: none;
    color: $interactive-color;
    //background: $light-grey;
    border-bottom: 4px solid $interactive-color;
  }
  .filters div:focus {
    text-decoration: none;
  }

  .view-types {
    float: right;
    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    div {
      display: block;
      float: left;

      img {
        height: 34px;
        opacity: 0.2;
        margin-top: -3px;

        &.dl-icon {
          height: 22px;
          margin-top: 4px;
          margin-left: 8px;
        }

        &:last-child {
          display: none;
          opacity: 1;
        }
      }
    }

    div.selected,
    div:hover,
    div:focus {
      img:first-child {
        display: none;
      }

      img:last-child {
        display: block;
      }
    }
  }
}

.search-results-component {
  .col-md-9 {
    padding: 0;
    @include media-breakpoint-up(md) {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%; //sidebar override
    }
  }
}
.results-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  .col-md-4 {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
    @include media-breakpoint-up(sm) {
      width: 50%;
      padding: 0 24px 0 0;
      &:nth-child(2n + 2) {
        padding-right: 0;
      }
    }
    @include media-breakpoint-up(md) {
      //sidebar override - this whole block
      width: 33.333333%;
      padding: 0 24px 0 0;
      &:nth-child(2n + 2) {
        padding-right: 24px;
      }
      &:nth-child(3n + 3) {
        padding-right: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      width: 33.333333%;
      width: 25%; //sidebar override
      padding: 0 24px 0 0;
      &:nth-child(2n + 2) {
        padding-right: 24px;
      }
      &:nth-child(3n + 3) {
        padding-right: 24px; //sidebar override
      }
      &:nth-child(4n + 4) {
        padding-right: 0; //sidebar override
      }
      /* don't delete - sidebar override
      &:nth-child(3n+3) {
        padding-right:0;
      }
      */
    }
  }
  .category-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #ff6f00;
    line-height: 30px;
    padding: 21px 0 7px 0;
  }

  .results {
    overflow: hidden;
  }
}

.search-results {
  margin-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  @include media-breakpoint-up(lg) {
    padding: 0;
    position: relative;
  }
}

.search-description {
  font-weight: $medium-weight;
  font-size: 20px;
  padding: 0 15px;
}

.search-description-text {
  font-size: 1rem;
  font-weight: $blond-weight;
  margin-bottom: 25px;
  .page-of {
    float: left;
  }
}
div h3.searching-message {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}
.search-term {
  display: inline;
  position: relative;
  &:before {
    content: "\201C";
  }
  &:after {
    content: "\201D";
  }
}

.result-count {
  padding: 14px 0;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: $grey-text;
    line-height: 26px;
  }
  .result-author {
    margin-bottom: 0;
    color: $primary-color;
    line-height: 1rem;
    margin-top: 10px;
  }
}

.mobile-select {
  text-transform: capitalize;
  width: 100%;
  color: $interactive-color;
  padding: 7px;
  background-color: white;
  appearance: none;
  background: url("../../img/dropdown.png") no-repeat right;
  background-size: 30px;
}

.featured-searches-header {
  padding-top: 2.5rem;
  padding-left: 1ex;
  text-transform: uppercase;
}

.featured-searches {
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;
  a {
    color: $primary-color;
    font-size: 1rem;
    font-weight: $medium-weight;
    color: #666;
    display: block;
    line-height: 26px;
    padding: 12px 10px;
    border-bottom: 1px solid #e6e6e6;
    transition: 100ms ease-in-out color;
    text-transform: capitalize;
    cursor: pointer;
    &.selected,
    &:hover,
    &:focus {
      color: $interactive-color;
      background: lighten($light-grey, 3%);
      text-decoration: none;
    }
  }
}

.spinner {
  background-image: url("../../img/loading-dots.gif");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.pagination {
  float: right;
  margin-top: -1rem;
  margin-right: -1rem;
  .pagination_icon {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    margin: 0.5ex;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
    padding-right: 1em;
    &:hover {
      color: $interactive-color;
      background: lighten($light-grey, 3%);
      text-decoration: none;
    }
  }
}

.addFAB {
  z-index: 3000;
  position: fixed;
  right: 20px;
  bottom: 40px;
}
