@import "./UniversalStyles";

.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.search-results-component {
  padding-top: 32px;

  .sidepanel {
    padding: 0 32px;

    .sorting-options {
      border-top: 1px solid $dark-grey;
      margin-top: 70px;

      a {
        font-size: 1rem;
        font-weight: 500;
        color: #666;
        display: block;
        line-height: 26px;
        padding:12px 10px;
        border-bottom:1px solid $dark-grey;
        transition: 100ms ease-in-out color;
        text-transform: capitalize;
        cursor:pointer;
        &.selected, &:hover, &:focus {
          color: $interactive-color;
          background: lighten($light-grey,3%);
        }
      }

      .current-sorting-selection {
        font-size: 1rem;
        font-weight: 400;
        color: $interactive-color;
        display: block;
        line-height: 26px;
        text-transform: capitalize;
        display: none;
      }
    }

    .open-mobile-menu {}
  }
}

  .search-actions-area {
    padding: 0;
    position:relative;
    &:before {
      content:"";
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      background:rgba(0,0,0,.05);
      height:4px;
    }

    .filters {
      float: left;
    }

    .filters a {
      font-size: 1.5rem;
      font-weight: 600;
      color: $primary-color;
      display: block;
      line-height: 26px;
      float: left;
      padding: 16px 20px 14px;
      transition: 100ms ease-in-out color, 100ms ease-in-out border, 100ms ease-in-out background;
      position:relative;
      &:first-child {
        &:before {
          content:"";
          position:absolute;
          top:12px;
          bottom:10px;
          left:0;
          width:2px;
          background:$light-grey;
        }
      }
      &:after {
        content:"";
        position:absolute;
        top:12px;
        bottom:10px;
        right:-2px;
        width:2px;
        background:$light-grey;
      }
    }

    @include media-breakpoint-down(sm) {
      .filters a {
        float: none;
        border: 0 !important;
      }
    }
    .filters a.selected {
      border-bottom: 4px solid darken($interactive-color,10%);
      &:hover, &:focus {
        border-bottom: 4px solid darken($interactive-color,10%);
      }
    }
    .filters a:hover,
    .filters a:focus {
      text-decoration: none;
      color: $interactive-color;
      background: $light-grey;
      border-bottom: 4px solid $interactive-color;
      &:after {
        display:none;
      }
    }

    .view-types {
      float: right;
      margin-top:10px;
      margin-right:10px;

      a {
        display: block;
        float: left;

        img {
          height: 34px;
          opacity: 0.2;
          margin-top: -3px;

          &.dl-icon {
            height: 22px;
            margin-top: 4px;
            margin-left: 8px;
          }

          &:last-child {
            display: none;
            opacity: 1;
          }
        }
      }

      a.selected, a:hover, a:focus {
        img:first-child {
          display: none;
        }

        img:last-child {
          display: block;
        }
      }
    }


  .results-box {
    .category-title {
      font-size: 1.8rem;
      font-weight: 400;
      color: #ff6f00;
      line-height: 30px;
      padding: 21px 0 7px 0;
    }

    .results {
      overflow: hidden;
    }
  }
}

.result-count {
  padding: 14px 0;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: $grey-text;
    line-height: 26px;
  }
  .result-author {
    margin-bottom:0;
    color:$primary-color;
    line-height:1rem;
    margin-top:10px;
  }
}

.mobile-select {
  width: 100%;
  color: $interactive-color;
  padding: 7px;
  background-color: white;
  appearance: none;
  background: url('../../img/dropdown.png') no-repeat right;
}
