@import "../../UniversalStyles";

.quick-submit {
  padding-top: 7%;
  padding-bottom: 7%;
  p {
    margin: 0;
  }
  label {
    display: block;
    font-size: 1.2rem;
  }
  @include media-breakpoint-between(lg, xl) {
    .col-sm-11 {
      padding-top: 1rem;
    }
    .form-title {
      text-align: left;
    }
  }
  .vidField, .locationField {
    padding-top: 3%;
  }
  .dismiss {
    position: absolute;
    right: 0;
    top: -20px;
    color: gray;
  }
  .title {
    font-size: 2rem;
    color: $black;
  }
  h2 {
    color: $black;
    text-align: center;
    margin-bottom: 3rem;
  }
  div {
    > hr:last-child {
      border-bottom:2px solid $black !important;
    }
  }
  button[type=submit] {
    background-color:$red !important;
    &:hover, &:focus {
      background-color:lighten($red, 10%) !important;
    }
  }
}

