@import "./UniversalStyles";

.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.edit-profile {
  padding-top: 7%;
  padding-bottom: 7%;
}

.sidebar {
  .user-avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    .change-avatar-button {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 16px 0 24px;
      box-sizing: border-box;
      font-size: 20px;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .edit-profile-button {
    display: block;
    background-color: #ff6f00;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    padding-top: 6px;
    margin-top: 32px;
    width: 200px;
    margin-bottom: 32px;
  }
}

.edit-profile .main-area {
  .form-label {
    color: #666;
    font-size: 2rem;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 24px;
    display: block;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 32px;
    }
    &.organization {
      padding-top: 28px;
    }
  }
  .divider {
    height: 2px;
    background-color: #eee;
    width: 100%;
    margin: 64px 0 48px;
    @include media-breakpoint-down(sm) {
      margin: 48px 0 32px;
    }
  }
  .label-description {
    font-size: 20px;
    color: #333;
    font-weight: 100;
    line-height: 26px;
  }
  .org-section {
    padding: 32px;
    padding-bottom: 0;
    @include media-breakpoint-down(sm) {
      padding: 0;
      padding-top: 32px;
    }
  }

  .location-section {
    position: relative;
    padding: 32px;
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-down(sm) {
      padding: 0;
      padding-top: 32px;
    }
  }


  .biography-input {
    display: block;
    border: 2px solid #eee;
    font-weight: 300;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    line-height: 28px;
    font-size: 20px;
  }

  .name {
    color: #3f51b2;
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 72px;
  }
  .credentials {
    padding-left: 64px;
    margin: 32px 0;
    position: relative;
    &:before {
      content: '';
      background-image: url(/img/pp-envelope-icon.png);
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      font-size: 22px;
      color: #999;
      font-weight: 100;
      line-height: 32px;
    }
  }
  .description {
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
  }
  @include media-breakpoint-down(md) {
    .name {
      font-size: 48px;
      line-height: 60px;
    }
    .credentials {
      margin: 20px 0;
      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 28px;
    }
  }
}
