@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css";
.tab {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  padding-right: 96px;
  position: relative; }
  @media (max-width: 639px) {
    .tab {
      padding: 12px;
      padding-right: 0; } }
  .tab .title {
    color: #ff6f00;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: block;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
    padding: 16px;
    margin: -16px;
    padding-left: 32px; }
    @media (max-width: 639px) {
      .tab .title {
        font-size: 13.5px;
        line-height: 16.5px;
        padding: 12px;
        margin: -12px;
        padding-left: 24px; } }
  .tab .resource-desc {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px;
    text-align: justify; }
    @media (max-width: 639px) {
      .tab .resource-desc {
        font-size: 15px;
        line-height: 21px;
        margin-top: 12px; } }
    .tab .resource-desc > a {
      color: #ff6f00;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      display: block;
      margin-top: 8px; }
      .tab .resource-desc > a:nth-of-type(1) {
        margin-top: 12px; }
      @media (max-width: 639px) {
        .tab .resource-desc > a {
          font-size: 13.5px;
          line-height: 18px;
          margin-top: 4px; }
          .tab .resource-desc > a:nth-of-type(1) {
            margin-top: 8px; } }
  .tab:after {
    content: "";
    background-image: url("../img/pp-map-arrow-icon-grey-down.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 9px;
    display: block;
    background-size: contain;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 0; }
    @media (max-width: 639px) {
      .tab:after {
        width: 16px;
        height: 8px;
        top: 15px; } }
  .tab div:nth-child(2) {
    display: none; }

.subtab {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  padding-right: 96px;
  position: relative; }
  @media (max-width: 639px) {
    .subtab {
      padding: 12px;
      padding-right: 0; } }
  .subtab .title {
    color: #ff6f00;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: block;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
    padding: 16px;
    margin: -16px;
    padding-left: 32px; }
    @media (max-width: 639px) {
      .subtab .title {
        font-size: 13.5px;
        line-height: 16.5px;
        padding: 12px;
        margin: -12px;
        padding-left: 24px; } }
  .subtab .resource-desc {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px;
    text-align: justify; }
    @media (max-width: 639px) {
      .subtab .resource-desc {
        font-size: 15px;
        line-height: 21px;
        margin-top: 12px; } }
    .subtab .resource-desc > a {
      color: #ff6f00;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      display: block;
      margin-top: 8px; }
      .subtab .resource-desc > a:nth-of-type(1) {
        margin-top: 12px; }
      @media (max-width: 639px) {
        .subtab .resource-desc > a {
          font-size: 13.5px;
          line-height: 18px;
          margin-top: 4px; }
          .subtab .resource-desc > a:nth-of-type(1) {
            margin-top: 8px; } }
  .subtab:after {
    content: "";
    background-image: url("../img/pp-map-arrow-icon-grey-down.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 9px;
    display: block;
    background-size: contain;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 0; }
    @media (max-width: 639px) {
      .subtab:after {
        width: 16px;
        height: 8px;
        top: 15px; } }

.tab-open {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  padding-right: 96px;
  position: relative; }
  @media (max-width: 639px) {
    .tab-open {
      padding: 12px;
      padding-right: 0; } }
  .tab-open .title {
    color: #ff6f00;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    display: block;
    margin-top: 8px;
    cursor: pointer;
    width: 100%;
    padding: 16px;
    margin: -16px;
    padding-left: 32px; }
    @media (max-width: 639px) {
      .tab-open .title {
        font-size: 13.5px;
        line-height: 16.5px;
        padding: 12px;
        margin: -12px;
        padding-left: 24px; } }
  .tab-open .resource-desc {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px;
    text-align: justify; }
    @media (max-width: 639px) {
      .tab-open .resource-desc {
        font-size: 15px;
        line-height: 21px;
        margin-top: 12px; } }
    .tab-open .resource-desc > a {
      color: #ff6f00;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      display: block;
      margin-top: 8px; }
      .tab-open .resource-desc > a:nth-of-type(1) {
        margin-top: 12px; }
      @media (max-width: 639px) {
        .tab-open .resource-desc > a {
          font-size: 13.5px;
          line-height: 18px;
          margin-top: 4px; }
          .tab-open .resource-desc > a:nth-of-type(1) {
            margin-top: 8px; } }
  .tab-open:after {
    content: "";
    background-image: url("../img/pp-map-arrow-icon-grey-down.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 9px;
    display: block;
    background-size: contain;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 0; }
    @media (max-width: 639px) {
      .tab-open:after {
        width: 16px;
        height: 8px;
        top: 15px; } }
  .tab-open:after {
    background-image: url("../img/pp-map-arrow-icon-grey-up.png"); }
  .tab-open div:nth-child(2) {
    display: block; }

/*# sourceMappingURL=AccordionTeaching.css.map */
