@import "../UniversalStyles";

.rdw-storybook-wrapper {
  // border: 1px solid #ece8e6;
}

.rdw-editor-toolbar, .rdw-storybook-editor {
  border: 1px solid #F1F1F1;
}

.rdw-option-wrapper {
  border: none !important;
}

.rdw-storybook-editor {
  padding-left: 1rem;
}
