@import "../UniversalStyles";

// These are shared with ItemDetails.scss, but I don't know how to actually share them 
// within a selector.  @andreadelrio maybe knows?

.ql-editor {
  h3 {
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 12px;
    margin-top: 32px;
  }

  p, li {
    font-size: 1.2rem; 
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 20px;
    max-width:720px;
  }
  
  em {
    font-weight:400;
  }

  li {
    list-style-type: square;
    margin-left: 32px;
    margin-bottom: 8px;
    padding-left: 8px;
  }

  ol {
    li {
      list-style-type: lower-roman;
    }
  }

  a {
    color: $primary-color;
    font-weight: 600;
    position:relative;
    cursor:pointer;
    &:after {
      content:"";
      position:absolute;
      left:0;
      right:0;
      bottom:-2px;
      height:2px;
      background:$black;
    }
    &:hover, &:focus {
      color:$interactive-color;
      text-decoration:none;
      &:after {
        background:$interactive-color;
      }
    }
  }
}