@import "../UniversalStyles";

.rdw-editor-toolbar,
.rdw-storybook-editor {
  border: 2px solid $grey-text;
}

.rdw-option-wrapper {
  border: none !important;
}

.rdw-storybook-editor {
  padding-left: 1rem;
}

.DraftEditor-root {
  height: 25em;
}
