.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.profile {
  padding-top: 7%;
  padding-bottom: 7%;
}

.org-submit {
  width: 100%;
  span {
    text-transform: none !important;
  }
}

.org-field {
  padding-top: 14px;
  @media (max-width: 639px) {
    padding-bottom: 28px;
  }  
  .col-md-7 {
    >div {
      width: 100% !important;
      margin-bottom: 14px;
      margin-top: -14px !important;
      .auto-org {
        width: 100% !important;
        label {
          padding-left: 16px;
        }
      }
    }
  }
  .col-md-5 {
    .org-submit, .help-button {
      float: left;
    }
    .org-submit {
      width: 80%;
    }
    padding-top: 14px;
  }
}

  .auto-org {
    font-size: 20px !important;
  }

.sidebar {
  .user-avatar {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    @media (max-width: 639px) {
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .change-avatar-button {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 16px 0 24px;
      box-sizing: border-box;
      font-size: 20px;
      cursor: pointer;
      &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .edit-profile-button {
    display: block;
    background-color: #ff6f00;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    padding-top: 6px;
    margin-top: 32px;
    width: 200px;
    margin-bottom: 32px;
  }
}

.profile .main-area {
  .form-label {
    color: #666;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 24px;
    display: block;
    @media (max-width: 639px) {
      font-size: 24px;
      line-height: 32px;
    }
    &.organization {
      padding-top: 28px;
    }
  }
  .name-input {
    color: #3f51b2;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    padding: 24px 32px;
    border: 2px solid #eee;
    display: block;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 639px) {
      font-size: 32px;
      line-height: 36px;
      padding: 16px 24px;
    }
  }
  .divider {
    height: 2px;
    background-color: #eee;
    width: 100%;
    margin: 64px 0 48px;
    @media (max-width: 639px) {
      margin: 48px 0 32px;
    }
  }
  .label-description {
    font-size: 20px;
    color: #333;
    font-weight: 100;
    line-height: 26px;
  }
  .org-section {
    padding: 32px;
    padding-bottom: 0;
    @media (max-width: 639px) {
      padding: 0;
      padding-top: 32px;
    }
  }

  .location-section {
    position: relative;
    padding: 32px;
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: 639px) {
      padding: 0;
      padding-top: 32px;
    }


  }
  .org-input {
    font-size: 20px;
    font-weight: 300;
    padding: 12px 16px;
    box-sizing: border-box;
    display: block;
    border: 2px solid #eee;
    margin-bottom: 16px;
    width: 400px;
    @media (max-width: 639px) {
      width: 100%;
    }
  }

  .help-button {
    width: 20%;
    a {
      display: block;
      margin: 0 auto;
      position: relative;
      border: 4px solid #ddd;
      color: #ddd;
      width: 2.4em;
      height: 2.4em;
      text-align: center;
      border-radius: 50%;
      box-sizing: border-box;
      .question {
        position: absolute;
        font-size: 1.7rem;
        left: 25%;
        top: -3px;
      }
    }
  }
  .biography-input {
    display: block;
    border: 2px solid #eee;
    font-weight: 300;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    line-height: 28px;
    font-size: 20px;
  }

  .name {
    color: #3f51b2;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
  }
  .credentials {
    padding-left: 64px;
    margin: 32px 0;
    position: relative;
    &:before {
      content: '';
      background-image: url(/img/pp-envelope-icon.png);
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      font-size: 22px;
      color: #999;
      font-weight: 100;
      line-height: 32px;
    }
  }
  .description {
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
  }
  @media (max-width: 959px) {
    .name {
      font-size: 48px;
      line-height: 60px;
    }
    .credentials {
      margin: 20px 0;
      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 28px;
    }
  }
}
