@import "../UniversalStyles";

.profile {
  padding-top: 3%;
  .search-actions-area {
    margin-bottom: 3rem;
    .filters {
      div {
        &:hover {
          color: $interactive-color;
        }
      }
      .unselected {
        color: $primary-color;
      }
      .selected {
        color: $interactive-color;
      }
    }
  }
}

.view-types-cont {
  height: 70px
}

.view-types {
  float: right;
  @include media-breakpoint-up(md) {
    margin-top:10px;
  }
  @include media-breakpoint-up(lg) {
    margin-top:20px;
  }

  div {
    display: block;
    float: left;
    cursor: pointer;
    img {
      height: 34px;
      opacity: 0.2;
      margin-top: -3px;

      &.dl-icon {
        height: 22px;
        margin-top: 4px;
        margin-left: 8px;
      }

      &:last-child {
        display: none;
        opacity: 1;
      }
    }
  }

  svg {
    transform: translateY(3px)
  }

  div.selected, div:hover, div:focus {
    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
  }
}

.main-contents {
  min-height: 200px;
}

.sidebar {
  .user-avatar {
    text-align: center;
  }
  .edit-profile-button {
    display: block;
    background-color: $interactive-color;
    color: #fff;
    font-size: 1.3rem;
    font-weight: $blond-weight;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    padding-top: 6px;
    margin: 14px auto;
    width: 200px;
    margin-bottom: 32px;
  }
}

.profile-info-section {
  @include media-breakpoint-only(md) {
    padding-top: 7%;
  }
  position: relative;
  .main-area {
    @include media-breakpoint-down(lg) {
      .editProfile {
        position: absolute;
        display: block;
        right: 30px;
        z-index: 1;
        top: 17px;
      }
    }
    @include media-breakpoint-up(lg) {
      .editProfile {
        display: none;
      }
      svg {
        width: 30px !important;
        height: 30px !important;
      }
      &:hover {
        .editProfile {
          position: absolute;
          display: block;
          right: 4px;
          z-index: 1;
          top: 10px;
        }
      }
    }
    .name {
      font-weight: $medium-weight;
      line-height: 60px;
      @include media-breakpoint-down(sm) {
        text-align: center;
      }  
    }
    .bio-profile {
      color: blue;
      span, p {
        font-size: 1rem;
        span {
          font-size: 1rem !important;
        }
      }
    }
    .credentials {
      margin: 1rem 0;
      position: relative;
      @include media-breakpoint-down(sm) {
        text-align: center;
      } 
      svg {
        @include media-breakpoint-down(lg) {
          transform: translate(0, 7px);
        }
        @include media-breakpoint-up(lg) {
          transform: translate(0, 11px);
        }  
        width: 14px !important;
      }
      div {
        @include media-breakpoint-up(lg) {
          margin-top: -14px;
        }
        span {
          font-weight: $blond-weight;
          padding-left: 0.4rem;
        }
      }
      >span {
        display: block;
        color: $grey-text;
        margin: 0;
        font-weight: $blond-weight;
      }
    }
    .description {
      font-weight: $blond-weight;
      line-height: 32px;
    }
    .authored-content,.bookmarked-content {
      margin-top: 1em;
      padding-top: 1em;
      padding-bottom: 2em;
    }
    .heading {
      font-size: 1.5rem;
    }
  }
}
