@import "../UniversalStyles";

.profile {
  padding-top: 3%;
}

.view-types-cont {
  height: 70px
}

.view-types {
  float: right;
  margin-right:10px;
  @include media-breakpoint-up(md) {
    margin-top:10px;
  }
  @include media-breakpoint-up(lg) {
    margin-top:20px;
  }

  div {
    display: block;
    float: left;
    cursor: pointer;
    img {
      height: 34px;
      opacity: 0.2;
      margin-top: -3px;

      &.dl-icon {
        height: 22px;
        margin-top: 4px;
        margin-left: 8px;
      }

      &:last-child {
        display: none;
        opacity: 1;
      }
    }
  }

  div.selected, div:hover, div:focus {
    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
  }
}

.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.sidebar {
  .user-avatar {
    margin: 0 auto;
    text-align: center;
  }
  .edit-profile-button {
    display: block;
    background-color: $interactive-color;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    padding-top: 6px;
    margin: 14px auto;
    width: 200px;
    margin-bottom: 32px;
  }
}

.profile-info-section .main-area {
  .name {
    color: #3f51b2;
    font-weight: 500;
    line-height: 72px;
  }
  .credentials {
    padding-left: 64px;
    margin: 32px 0;
    padding-bottom: 32px;
    position: relative;
    &:before {
      content: '';
      background-image: url("../img/pp-envelope-icon-red.png");
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      color: $grey-text;
      font-weight: 100;
      line-height: 32px;
    }
  }
  .description {
    font-weight: 100;
    line-height: 32px;
  }
  .authored-content,.bookmarked-content {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .heading {
    font-size: 1.5rem;
  }
}
