@import "./UniversalStyles";

.user-avatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #ece8e6;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.date-field {
  border: 2px solid $black;
  @include media-breakpoint-up(lg) {
    width: 60% !important;
  };
  margin-bottom: 1rem;
  div>div {
    width: 100% !important;
    padding-left: 1rem;
    hr {
      display: none;
    }
  }
}

.list {
  >div>div>div {
    border: 2px solid $black;
    padding-left: 1rem;
    @include media-breakpoint-up(sm) {
      width: 60% !important;
    };
    hr {
      display: none;
    }
  }
  button {
    svg {
      transform: translateY(8px);
    }
  }
  input {
    @include media-breakpoint-only(md) {
      font-size: 0.9rem;
    };
  }
  .prompt {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
