@import "./UniversalStyles";

.user-avatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: $black;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.date-field {
  border: 2px solid $black;
  @include media-breakpoint-up(lg) {
    width: 70% !important;
  };
  margin-bottom: 1rem;
  div>div {
    width: 100% !important;
    padding-left: 0.5rem;
    hr {
      display: none;
    }
  }
  .clearable-datepicker {
    position: relative;
    .dismiss {
      position: absolute;
      right: 12px;
      top: 12px;
      width: 20px !important;
      padding: 0 !important;
      cursor: pointer;
    }
  }
}

.list {
  >div>div>div {
    border: 2px solid $black;
    padding-left: 1rem;
    @include media-breakpoint-up(sm) {
      width: 70% !important;
    };
    hr {
      display: none;
    }
  }
  button {
    svg {
      transform: translateY(8px);
    }
  }
  input {
    @include media-breakpoint-only(md) {
      font-size: 0.9rem;
    };
  }
  .prompt {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
