.user-avatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #ece8e6;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  .change-avatar-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px red;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 16px 0 24px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}