@import "./UniversalStyles";

.user-avatar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #ece8e6;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  .change-avatar-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px red;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 16px 0 24px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
}

.date-field {
  border: 2px solid $black;
  @include media-breakpoint-up(lg) {
    width: 50% !important;
  };
  margin-bottom: 1rem;
  div>div {
    width: 100% !important;
    padding-left: 1rem;
    hr {
      display: none;
    }
  }
}

.list {
  >div>div>div {
    border: 2px solid $black;
    padding-left: 1rem;
    @include media-breakpoint-up(sm) {
      width: 50% !important;
    };
    hr {
      display: none;
    }
  }
  button {
    svg {
      transform: translateY(8px);
    }
  }
  input {
    @include media-breakpoint-only(md) {
      font-size: 0.9rem;
    };
  }
  .prompt {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
