.main-contents {
  min-height: 200px;
}

.search-results-component {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 32px;
  padding-top: 32px;
}

@media (max-width: 1599px) {
  .search-results-component {
    width: 1280px;
  }
}

@media (max-width: 1279px) {
  .search-results-component {
    width: 960px;
  }
}

@media (max-width: 959px) {
  .search-results-component {
    width: 640px;
  }
}

@media (max-width: 639px) {
  .search-results-component {
    width: 320px;
  }
}

.search-results-component .sidebar {
  padding: 0 32px;
  width: 200px;
  float: left;
}

.search-results-component .sidebar .sorting-options {
  padding: 12px 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin-top: 70px;
}

.unselected {

}

.search-results-component .sidebar .sorting-options a {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  display: block;
  line-height: 26px;
  transition: 100ms ease-in-out color;
  text-transform: capitalize;
}

.search-results-component .sidebar .sorting-options a.selected,
.search-results-component .sidebar .sorting-options a:hover,
.search-results-component .sidebar .sorting-options a:focus {
  color: #ff6f00;
}

.search-results-component .sidebar .sorting-options .current-sorting-selection {
  font-size: 16px;
  font-weight: 400;
  color: #ff6f00;
  display: block;
  line-height: 26px;
  text-transform: capitalize;
  display: none;
}
.search-results-component .sidebar .open-mobile-menu {
}

@media (max-width: 1279px) {
  .search-results-component .sidebar {
    padding: 0 16px;
    width: 928px;
  }
  .search-results-component .sidebar .sorting-options {
    margin-top: 0;
    border-top: 0;
    overflow: hidden;
    margin-bottom: -16px;
  }
  .search-results-component .sidebar .sorting-options a {
    float: left;
    margin-right: 32px;
  }
}

@media (max-width: 959px) {
  .search-results-component .sidebar {
    width: 608px;
  }
}

@media (max-width: 639px) {
  .search-results-component .sidebar {
    width: 288px;
  }
  .search-results-component .sidebar .sorting-options a {
    float: none;
    margin-right: 0;

    display: none;
  }
  /*.search-results-component .sidebar .sorting-options.open-mobile-menu a {
    display: block;
  }*/
  .search-results-component .sidebar .sorting-options .current-sorting-selection {
    display: block;
  }
}

.search-results-component .main-area {
  padding-right: 32px;
  width: 1248px;
  float: right;
}

@media (max-width: 1599px) {
  .search-results-component .main-area {
    width: 928px;
  }
}

@media (max-width: 1279px) {
  .search-results-component .main-area {
    /*width: 608px;*/
    width: 928px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 959px) {
  .search-results-component .main-area {
    width: 608px;
  }
}

@media (max-width: 639px) {
  .search-results-component .main-area {
    width: 288px;
  }
}

/*@media (max-width: 1599px) {
  .search-results-component .main-area {
    width: 928px;
  }
}*/

.search-results-component .main-area .search-actions-area {
  border-bottom: 2px solid #eee;
  overflow: hidden;
  padding-top: 32px;
}

.search-results-component .main-area .search-actions-area .filters {
  float: left;
}

.search-results-component .main-area .search-actions-area .filters a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: block;
  line-height: 26px;
  float: left;
  padding: 0 4px 8px 4px;
  margin-right: 24px;
  transition: 100ms ease-in-out color, 100ms ease-in-out border;
  border-bottom: 4px solid #fff;
}

@media (max-width: 639px) {
  .search-results-component .main-area .search-actions-area .filters a {
      float: none;
      border: 0 !important;
  }
}

.search-results-component .main-area .search-actions-area .filters a.selected,
.search-results-component .main-area .search-actions-area .filters a:hover,
.search-results-component .main-area .search-actions-area .filters a:focus {
  color: #ff6f00;
  border-bottom: 4px solid #ff6f00;
}

.search-results-component .main-area .search-actions-area .view-types {
  float: right;
}

.search-results-component .main-area .search-actions-area .view-types a {
  display: block;
  float: left;
}

.search-results-component .main-area .search-actions-area .view-types a img {
  height: 34px;
  opacity: 0.2;
  margin-top: -3px;
}

.search-results-component .main-area .search-actions-area .view-types a img.dl-icon {
  height: 22px;
  margin-top: 4px;
  margin-left: 8px;
}

.search-results-component .main-area .search-actions-area .view-types a img:last-child {
  display: none;
  opacity: 1;
}

.search-results-component .main-area .search-actions-area .view-types a.selected img:first-child,
.search-results-component .main-area .search-actions-area .view-types a:hover img:first-child,
.search-results-component .main-area .search-actions-area .view-types a:focus img:first-child {
  display: none;
}

.search-results-component .main-area .search-actions-area .view-types a.selected img:last-child,
.search-results-component .main-area .search-actions-area .view-types a:hover img:last-child,
.search-results-component .main-area .search-actions-area .view-types a:focus img:last-child {
  display: block;
}

.search-results-component .main-area .result-count {
  border-bottom: 2px solid #eee;
  padding: 14px 0;
}

.search-results-component .main-area .result-count p {
  font-size: 16px;
  font-weight: 400;
  color: #999;
  line-height: 26px;
}

.search-results-component .main-area .results-box .category-title {
  font-size: 30px;
  font-weight: 400;
  color: #ff6f00;
  line-height: 30px;
  padding: 20px 0;
  border-bottom: 2px solid #eee;
}

.search-results-component .main-area .results-box .results {
  padding: 32px 0 0;
  overflow: hidden;
  border-bottom: 2px solid #eee;
}

.detailed-case-component {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 32px;
  padding-top: 64px;
}

.detailed-case-component .sidebar {
  padding: 0 32px;
  width: 200px;
  float: left;
  margin-top: 48px;
}

.detailed-case-component .sidebar .case-map {
  width: 100%;
}

.detailed-case-component .sidebar .case-location {
  font-weight: 500;
  color: #3f51b2;
  margin-top: 16px;
  margin-bottom: 16px;
}

.detailed-case-component .sidebar .progress-bar {
  width: 100%;
  background-color: #ddd;
  height: 16px;
}

.detailed-case-component .sidebar .progress-bar .progress-fill {
  height: 16px;
  background-color: #3f51b2;
}

.detailed-case-component .sidebar .progress-complete {
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
}

.detailed-case-component .sidebar .sub-heading {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 12px;
  margin-top: 16px;
}

.detailed-case-component .sidebar .sub-sub-heading {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.detailed-case-component .sidebar .tags a {
  display: block;
  font-size: 14px;
  color: #888;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

.detailed-case-component .sidebar .related-content a {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 8px;
  position: relative;
  display: block;
  padding-left: 32px;
}

.detailed-case-component .sidebar .related-content a:before {
  content: "";
  background-image: url("/img/arrow-down-icon.png");
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  margin-top: -4px;
}

.detailed-case-component .main-area {
  /*float: right;*/
  width: 1248px;
  padding-right: 32px;
}

.detailed-case-component .main-area .case-box {
  width: 960px;
  float: left;
  padding: 32px 0;
}

.detailed-case-component .main-area .case-box .category {
  color: #ff6f00;
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  margin-bottom: 8px;
}

.detailed-case-component .main-area .case-box .case-title {
  color: #3f51b2;
  font-size: 48px;
  line-height: 60px;
  font-weight: 500;
  margin-bottom: 48px;
  width: 780px;
}

.detailed-case-component .main-area .case-box .case-images {
  overflow: hidden;
}

.detailed-case-component .main-area .case-box .case-images .thumbnail {
  width: 288px;
  height: 160px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  background-color: #eee;
  float: left;
  margin-right: 32px;
}

.detailed-case-component .main-area .case-box .authorship-details {
  margin-top: 32px;
  margin-bottom: 32px;
}

.detailed-case-component .main-area .case-box .authorship-details .author-line {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  line-height: 18px;
}

.detailed-case-component .main-area .case-box .authorship-details .author-line a {
  color: #ff6f00;
  font-weight: 500;
}

.detailed-case-component .main-area .case-box .authorship-details .date-line {
  font-size: 14px;
  color: #777;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 6px;
}

.detailed-case-component .main-area .case-box .case-html h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 12px;
  margin-top: 32px;
}

.detailed-case-component .main-area .case-box .case-html p,
.detailed-case-component .main-area .case-box .case-html li {
  font-size: 16px; /* XXX */
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 16px;
}

.detailed-case-component .main-area .case-box .case-html h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.detailed-case-component .main-area .case-box .case-html li {
  list-style-type: square;
  margin-left: 32px;
  margin-bottom: 8px;
  padding-left: 8px;
}

.detailed-case-component .main-area .case-box .case-html ol li {
  list-style-type: lower-roman;
}

.detailed-case-component .main-area .case-box .case-html a {
  color: #ff6f00;
  font-weight: 400;
}

.detailed-case-component .main-area .case-tools {
  position: fixed;
  right: 6em;
  top: 4em;
  z-index: 12000;
  /*float: right;
  margin-right: 32px;
  padding-right: 32px;*/
}

.detailed-case-component .main-area .case-tools .top-icons {
  margin-top: 40px;
  position: fixed;
}

.detailed-case-component .main-area .case-tools .top-icons a {
  display: block;
  margin-bottom: 16px;
}

.detailed-case-component .main-area .case-tools .top-icons a img {
  width: 40px;
}

.detailed-case-component .main-area .case-tools .top-icons a:first-child img {
  width: 32px;
  margin: 4px;
}

.detailed-case-component .main-area .case-tools .bottom-icons {
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
  position: fixed;
}

.detailed-case-component .main-area .case-tools .bottom-icons a {
  position: relative;
  display: block;
}

.detailed-case-component .main-area .case-tools .bottom-icons a img {
  width: 80px;
  margin-left: -20px;
}

.detailed-case-component .main-area .case-tools .bottom-icons a::before {
  content: "";
  background-color: #ff6f00;
  position: absolute;
  color: #fff;
  font-weight: 400;
  left: 65px;
  top: 19px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  display: none;
}

.detailed-case-component .main-area .case-tools .bottom-icons a::after {
  content: "Edit";
  background-color: #ff6f00;
  padding: 6px 12px;
  position: absolute;
  display: none;
  color: #fff;
  font-weight: 400;
  left: 70px;
  top: 10px;
}

.detailed-case-component .main-area .case-tools .bottom-icons a:hover::before,
.detailed-case-component .main-area .case-tools .bottom-icons a:hover::after {
  display: block;
}
