.main-contents {
  min-height: 200px; }

.unselected {
  color: black; }

.search-results-component {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 32px;
  padding-top: 32px; }
  @media (max-width: 1599px) {
    .search-results-component {
      width: 1280px; } }
  @media (max-width: 1279px) {
    .search-results-component {
      width: 960px; } }
  @media (max-width: 959px) {
    .search-results-component {
      width: 640px; } }
  @media (max-width: 639px) {
    .search-results-component {
      width: 320px; } }
  .search-results-component .sidebar {
    padding: 0 32px;
    width: 200px;
    float: left; }
    .search-results-component .sidebar .sorting-options {
      padding: 12px 0;
      border-top: 2px solid #eee;
      border-bottom: 2px solid #eee;
      margin-top: 70px; }
      .search-results-component .sidebar .sorting-options a {
        font-size: 16px;
        font-weight: 400;
        color: #666;
        display: block;
        line-height: 26px;
        transition: 100ms ease-in-out color;
        text-transform: capitalize; }
        .search-results-component .sidebar .sorting-options a.selected, .search-results-component .sidebar .sorting-options a:hover, .search-results-component .sidebar .sorting-options a:focus {
          color: #ff6f00; }
      .search-results-component .sidebar .sorting-options .current-sorting-selection {
        font-size: 16px;
        font-weight: 400;
        color: #ff6f00;
        display: block;
        line-height: 26px;
        text-transform: capitalize;
        display: none; }

@media (max-width: 1279px) {
  .search-results-component .sidebar {
    padding: 0 16px;
    width: 928px; }
    .search-results-component .sidebar .sorting-options {
      margin-top: 0;
      border-top: 0;
      overflow: hidden;
      margin-bottom: -16px; }
      .search-results-component .sidebar .sorting-options a {
        float: left;
        margin-right: 32px; } }
@media (max-width: 959px) {
  .search-results-component .sidebar {
    width: 608px; } }
@media (max-width: 639px) {
  .search-results-component .sidebar {
    width: 288px; }
    .search-results-component .sidebar .sorting-options a {
      float: none;
      margin-right: 0;
      display: none; }
      .search-results-component .sidebar .sorting-options a.open-mobile-menu a {
        display: block; }
      .search-results-component .sidebar .sorting-options a .current-sorting-selection {
        display: block; } }
.search-results-component .main-area {
  padding-right: 32px;
  width: 1248px;
  float: right; }

@media (max-width: 1599px) {
  .search-results-component .main-area {
    width: 928px; } }
@media (max-width: 1279px) {
  .search-results-component .main-area {
    width: 928px;
    padding-right: 16px;
    padding-left: 16px; } }
@media (max-width: 959px) {
  .search-results-component .main-area {
    width: 608px; } }
@media (max-width: 639px) {
  .search-results-component .main-area {
    width: 288px; } }
.search-results-component .main-area .search-actions-area {
  border-bottom: 2px solid #eee;
  overflow: hidden;
  padding-top: 32px; }
  .search-results-component .main-area .search-actions-area .filters {
    float: left; }
  .search-results-component .main-area .search-actions-area .filters a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block;
    line-height: 26px;
    float: left;
    padding: 0 4px 8px 4px;
    margin-right: 24px;
    transition: 100ms ease-in-out color, 100ms ease-in-out border;
    border-bottom: 4px solid #fff; }
  @media (max-width: 639px) {
    .search-results-component .main-area .search-actions-area .filters a {
      float: none;
      border: 0 !important; } }
  .search-results-component .main-area .search-actions-area .filters a.selected,
  .search-results-component .main-area .search-actions-area .filters a:hover,
  .search-results-component .main-area .search-actions-area .filters a:focus {
    color: #ff6f00;
    border-bottom: 4px solid #ff6f00; }
  .search-results-component .main-area .search-actions-area .view-types {
    float: right; }
    .search-results-component .main-area .search-actions-area .view-types a {
      display: block;
      float: left; }
      .search-results-component .main-area .search-actions-area .view-types a img {
        height: 34px;
        opacity: 0.2;
        margin-top: -3px; }
        .search-results-component .main-area .search-actions-area .view-types a img.dl-icon {
          height: 22px;
          margin-top: 4px;
          margin-left: 8px; }
        .search-results-component .main-area .search-actions-area .view-types a img:last-child {
          display: none;
          opacity: 1; }
    .search-results-component .main-area .search-actions-area .view-types a.selected img:first-child, .search-results-component .main-area .search-actions-area .view-types a:hover img:first-child, .search-results-component .main-area .search-actions-area .view-types a:focus img:first-child {
      display: none; }
    .search-results-component .main-area .search-actions-area .view-types a.selected img:last-child, .search-results-component .main-area .search-actions-area .view-types a:hover img:last-child, .search-results-component .main-area .search-actions-area .view-types a:focus img:last-child {
      display: block; }
.search-results-component .main-area .result-count {
  border-bottom: 2px solid #eee;
  padding: 14px 0; }
  .search-results-component .main-area .result-count p {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 26px; }
.search-results-component .main-area .results-box .category-title {
  font-size: 30px;
  font-weight: 400;
  color: #ff6f00;
  line-height: 30px;
  padding: 20px 0;
  border-bottom: 2px solid #eee; }
.search-results-component .main-area .results-box .results {
  padding: 32px 0 0;
  overflow: hidden;
  border-bottom: 2px solid #eee; }

/*# sourceMappingURL=SearchResultsView.css.map */
