.result-category {
  color: #000;
}

.category-title {
  font-size: 30px;
  font-weight: 400;
  color: #ff6f00;
  line-height: 30px;
  padding: 20px 0 14px;
  border-bottom: 2px solid #eee;
}

.results {
  padding: 32px 0 0;
  overflow: hidden;
  border-bottom: 2px solid #eee;
}
