@import "../../UniversalStyles";

.map-component {
  @include media-breakpoint-down(md) {
    display: none;
  }

  .map {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .map-information {
    border-bottom: 5px solid $grey;
    height: 0px;
    overflow: hidden;

    .info-container {
      width: 1600px - 64px;
      margin: 0 auto;
      height: 96px;
      overflow: hidden;

      .legend {
        float: left;
        padding-top: 36px;

        .marker {
          float: left;

          img {
            height: 25px;
            display: block;
            float: left;
          }

          p {
            float: left;
            font-weight: 400;
            color: #333;
            line-height: 25px;
            padding-top: 2px;
            padding-left: 6px;
            margin-right: 20px;
          }
        }
      }

      .details {
        float: right;

        .col {
          float: left;
          width: 280px;
          padding-top: 30px;

          p {
            color: $orange;
            line-height: 20px;
            font-weight: 400;
          }

          &:first-child {
            padding-top: 18px;

            p {
              font-weight: 500;

              &:last-child {
                color: $blue;
              }
            }
          }
        }

        .arrow-col {
          width: 31px;
          float: left;
          padding-top: 40px;

          img {
            height: 15px;
          }
        }
      }
    }
  }
}
