@import "./UniversalStyles";

.footer-component {
  background-color: $primary-color;
  overflow: hidden;
  z-index: 1000;
  position: absolute;
  width: 100%;
  color: white;

  .expanded-footer {
    padding-top: 32px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;

    .column {
      width: 160px;
      float: left;

      &.xl {
        width: 320px;
        @include media-breakpoint-down(sm) {
          display:none;
        }
      }

      &.right {
        float: right;
        @include media-breakpoint-down(sm) {
          width: 100%; 
        }  
      }

      &.list {
        text-transform: capitalize;
      }

      @media (max-width: 699px) {
        width: 50%;
        float: left;
        padding-bottom: 24px;
      }

      a, p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 8px;
        display: block;
        color: #fff;

        .language-link {
          font-weight: 100;
        }
      }

      .social-icons {
        float: left;
        cursor: pointer;
        margin-left: 10px;
      }

      .social-icons img {
        width: 28px;
      }

    }
  }

  .copyright-area {
    float: right;
    color: white;
    @include media-breakpoint-up(sm) {
      padding-top: 9.5rem;
    }
    img {
      display: inline-block;
      height: 24px;
      padding-right: 0.5rem;
    }
  }
}

#us_report_button {
  left:30px !important;
}
