@import "./UniversalStyles";

.about {
  iframe {
    @media (max-width: 1440px) {
      margin-left: -60px;
    }
    @media (max-width: 1280px) {
      margin-left: -15px;
    }
  }

  .person {
    margin-top: 8px;
    line-height: 24px;
    p {
      margin: 0;
    }
  }

  .text {
    color: #000;
    line-height: 25px;
    font-weight: 300;
    margin-top: 16px;
    margin: 0;

    a {
      color: $primary-color;
      font-weight: $medium-weight;
      text-decoration:underline;
      &:hover, &:focus {
        color:$interactive-color;
      }
    }
  }

  .accordion {
    border-top: 1px solid #ece8e6;
    margin-top: 24px;
    margin-bottom: 48px;

    .content {
      opacity: 1;
    }

    .sub-accordion {
      padding: 12px 0;
    }

    .name {
      color: $black;
      line-height: 24px;
      font-weight: $medium-weight;
    }

    .sub-content {
      padding-left: 40px;

      @include media-breakpoint-only(sm) {
        padding: 8px 16px;
      }
    }
  }
}

img.article-image {
  width: 100%;
  margin-top: 24px;
  @include media-breakpoint-only(sm) {
    width: 100%;
    margin-top: 16px;
  }
}

.more-orange {
  .tab, .tab-open {
    padding-top: 24px;
    .title {
      color: $primary-color;
      font-weight: $medium-weight;
      padding: 24px 16px;
      font-size: 28px;
      &:hover, &:focus {
        color:$interactive-color;
      }
    }
    &:after {
      left: auto;
      right: 16px;
      top: 36px;
    }
  }
  .tab-open {
    padding: 24px 16px;
  }
}
