@import "./UniversalStyles";

.about {
  padding-top: 3%;
  h1 {
    color: $primary-color;
    font-weight: 500;
    line-height: 72px;
  }

  h2 {
    color: $primary-color;
    font-weight: 400;
    line-height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @include media-breakpoint-down(sm) { 
    h1, h2 {
      line-height: 1;
    }
  }

  .text {
    color: #000;
    font-size: 1.2rem;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px;

    & > .people {
      color: $orange;
      font-size: 1.1rem;
      line-height: 24px;
      font-weight: 400;
      display: block;
      margin-top: 8px;

      &:nth-of-type(1) {
        margin-top: 12px;
      }
      @include media-breakpoint-only(sm) { 
        line-height: 24px * 0.75;
        margin-top: 4px;

        &:nth-of-type(1) {
          margin-top: 8px;
        }
      }
    }
    a {
      color: $primary-color;
      font-weight: 600;
      text-decoration:underline;
      &:hover, &:focus {
        color:$interactive-color;
      }
    }
  }

  .accordion {
    border-top: 1px solid #ece8e6;
    margin-top: 24px;
    margin-bottom: 48px;

    .content {
      opacity: 1;
    }

    .sub-accordion {
      padding: 12px 0;
    }

    .sub-content {
      padding: 16px 48px;
      padding-bottom: 0;

      @include media-breakpoint-only(sm) {
        padding: 8px 16px;
      }

      .name {
        color: $black;
        font-size: 1.1rem;
        line-height: 24px;
        font-weight: 500;
        display: block;
        margin-top: 8px;
        margin-bottom: 1px;

        @media (max-width: 639px) {
          line-height: 24px * 0.75;
        }
      }

      .department {
        color: #666;
        font-size: 1rem;
        line-height: 21px;
        font-weight: 300;
        display: block;
        padding-bottom: 16px;

        @include media-breakpoint-only(sm) {
          line-height: 21px * 0.75;
          padding-top: 8px;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

img.article-image {
  width: 100%;
  margin-top: 24px;
  @include media-breakpoint-only(sm) {
    width: 100%;
    margin-top: 16px;
  }
}

.more-orange {
  .tab, .tab-open {
    padding-top: 24px;
    .title {
      color: $primary-color;
      font-weight: 500;
      padding: 24px 16px;
      font-size: 28px;
      &:hover, &:focus {
        color:$interactive-color;
      }
    }
    &:after {
      left: auto;
      right: 16px;
      top: 36px;
    }
  }
  .tab-open {
    padding: 24px 16px;
  }
}