.about {
  width: 960px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px; }
  @media (max-width: 1023px) {
    .about {
      padding: 0 32px;
      box-sizing: border-box;
      width: 100%; } }
  .about h1 {
    color: #ff6f00;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px; }
    @media (max-width: 639px) {
      .about h1 {
        font-size: 45px;
        line-height: 54px; } }
  .about h2 {
    color: #3f51b2;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    margin-top: 24px;
    margin-bottom: 24px; }
    @media (max-width: 639px) {
      .about h2 {
        font-size: 27px;
        line-height: 33px; } }
  .about .text {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px; }
    @media (max-width: 639px) {
      .about .text {
        font-size: 15px;
        line-height: 21px;
        margin-top: 12px; } }
    .about .text > .people {
      color: #ff6f00;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      display: block;
      margin-top: 8px; }
      .about .text > .people:nth-of-type(1) {
        margin-top: 12px; }
      @media (max-width: 639px) {
        .about .text > .people {
          font-size: 13.5px;
          line-height: 18px;
          margin-top: 4px; }
          .about .text > .people:nth-of-type(1) {
            margin-top: 8px; } }
    .about .text a {
      color: #ff6f00;
      font-weight: 400; }
  .about .accordion {
    border-top: 1px solid #ccc;
    margin-top: 24px;
    margin-bottom: 48px; }
    @media (max-width: 639px) {
      .about .accordion {
        margin-top: 18px;
        margin-bottom: 32px; } }
    .about .accordion .content {
      opacity: 1; }
    .about .accordion .sub-accordion {
      padding: 12px 0; }
    .about .accordion .sub-content {
      padding: 16px 48px;
      padding-bottom: 0; }
      @media (max-width: 639px) {
        .about .accordion .sub-content {
          padding: 8px 32px; } }
      .about .accordion .sub-content .name {
        color: #ff6f00;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        display: block;
        margin-top: 8px;
        margin-bottom: 1px; }
        @media (max-width: 639px) {
          .about .accordion .sub-content .name {
            font-size: 13.5px;
            line-height: 18px; } }
      .about .accordion .sub-content .department {
        color: #666;
        font-size: 17px;
        line-height: 21px;
        font-weight: 300;
        display: block;
        padding-bottom: 16px; }
        @media (max-width: 639px) {
          .about .accordion .sub-content .department {
            font-size: 12.75px;
            line-height: 15.75px;
            padding-top: 8px; } }
        .about .accordion .sub-content .department:last-child {
          padding-bottom: 0; }

img.article-image {
  width: 100%;
  margin-top: 24px; }
  @media (max-width: 639px) {
    img.article-image {
      width: 100%;
      margin-top: 16px; } }

.more-orange .tab, .more-orange .tab-open {
  padding-top: 24px; }
  .more-orange .tab .title, .more-orange .tab-open .title {
    color: #ff6f00;
    font-weight: 500;
    padding: 24px 16px;
    font-size: 28px; }
  .more-orange .tab:after, .more-orange .tab-open:after {
    left: auto;
    right: 16px;
    top: 36px; }
.more-orange .tab-open {
  padding: 24px 16px; }

/*# sourceMappingURL=About.css.map */
