.main-contents {
  min-height: 200px;
}

.unselected {
  color: black;
}

.profile-info-section {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 32px;

  @media (max-width: 1599px) {
    width: 1280px;
  }

  @media (max-width: 1279px) {
    width: 960px;
  }

  @media (max-width: 959px) {
    width: 640px;
  }

  @media (max-width: 639px) {
    width: 320px;
  }

  .sidebar {
    padding: 0 32px;
    width: 200px;
    float: left;
  }
}

@media (max-width: 1279px) {
  .profile-info-section .sidebar {
    // padding: 0 16px;
    // width: 928px;
  }
}

@media (max-width: 959px) {
  .profile-info-section .sidebar {
    width: 608px;
    padding-left: 0;
  }
}

@media (max-width: 639px) {
  .profile-info-section .sidebar {
    width: 288px;
    padding: 0 16px;
  }
}

.profile-info-section .main-area {
  padding-right: 32px;
  width: 1248px;
  float: right;
}

@media (max-width: 1599px) {
  .profile-info-section .main-area {
    width: 928px;
  }
}

@media (max-width: 1279px) {
  .profile-info-section .main-area {
    width: 638px;
    // padding-right: 16px;
    // padding-left: 16px;
  }
}

@media (max-width: 959px) {
  .profile-info-section .main-area {
    width: 608px;
  }
}

@media (max-width: 639px) {
  .profile-info-section .main-area {
    width: 288px;
    padding: 0 16px;
  }
}

.sidebar {
  .user-avatar {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    @media (max-width: 639px) {
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .change-avatar-button {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 16px 0 24px;
      box-sizing: border-box;
      font-size: 20px;
    }
  }
  .edit-profile-button {
    display: block;
    background-color: #ff6f00;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    border-radius: 4px;
    line-height: 40px;
    padding-top: 6px;
    margin-top: 32px;
    width: 200px;
    margin-bottom: 32px;
  }
}

.profile-info-section .main-area {
  .form-label {
    color: #666;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 24px;
    padding-left: 32px;
    display: block;
    @media (max-width: 639px) {
      padding-left: 0;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .name-input {
    color: #3f51b2;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    padding: 24px 32px;
    border: 2px solid #eee;
    display: block;
    width: 100%;
    box-sizing: border-box;
    @media (max-width: 639px) {
      font-size: 32px;
      line-height: 36px;
      padding: 16px 24px;
    }
  }
  .divider {
    height: 2px;
    background-color: #eee;
    width: 100%;
    margin: 64px 0 48px;
    @media (max-width: 639px) {
      margin: 48px 0 32px;
    }
  }
  .label-description {
    font-size: 20px;
    color: #333;
    font-weight: 100;
    line-height: 26px;
    padding: 0 32px;
    @media (max-width: 639px) {
      padding: 0;
    }
  }
  .org-section {
    padding: 32px;
    padding-bottom: 0;
    @media (max-width: 639px) {
      padding: 0;
      padding-top: 32px;
    }
  }
  .org-input {
    font-size: 20px;
    font-weight: 300;
    padding: 12px 16px;
    display: block;
    border: 2px solid #eee;
    margin-bottom: 16px;
    width: 400px;
    @media (max-width: 639px) {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .quick-submit-section {
    overflow: hidden;
    .org-input {
      float: left;
    }
    .quick-submit-button {
      display: block;
      float: left;
      width: 240px;
      text-align: center;
      padding: 15px;
      background-color: #3f51b2;
      color: #fff;
      border-radius: 4px;
      margin-left: 16px;
      font-size: 20px;
      font-weight: 400;
      @media (max-width: 1279px) {
        width: 406px;
        margin-left: 0;
        margin-bottom: 16px;
      }
      @media (max-width: 639px) {
        width: 190px;
      }
    }
    .help-button {
      display: block;
      border: 4px solid #ddd;
      color: #ddd;
      float: left;
      font-size: 40px;
      width: 48px;
      height: 48px;
      text-align: center;
      border-radius: 24px;
      box-sizing: border-box;
      padding-top: 4px;
      margin-left: 16px;
    }
  }
  .biography-input {
    display: block;
    border: 2px solid #eee;
    margin: 0px 32px 64px;
    font-weight: 300;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    line-height: 28px;
    font-size: 20px;
    @media (max-width: 639px) {
      margin: 0;
      margin-bottom: 64px;
    }
  }





  .name {
    color: #3f51b2;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
  }
  .credentials {
    padding-left: 64px;
    margin: 32px 0;
    position: relative;
    &:before {
      content: '';
      background-image: url(/img/pp-envelope-icon.png);
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
    p {
      font-size: 22px;
      color: #999;
      font-weight: 100;
      line-height: 32px;
    }
  }
  .description {
    font-size: 24px;
    font-weight: 100;
    line-height: 32px;
  }
  @media (max-width: 959px) {
    .name {
      font-size: 48px;
      line-height: 60px;
    }
    .credentials {
      margin: 20px 0;
      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

















































