@import "./UniversalStyles";

.home {
  .description {
    .col-sm-2 {
      @include media-breakpoint-up(sm) {
        margin-top: 5rem;
      }
      text-align: right;
      .dismiss {
        margin: 0;
        cursor: pointer;
        font-weight: 700;
      }
      svg {
        transform: translate(0, 7px);
      }
    }
    h4 {
      padding-top: 0.5rem;
    }
    padding: 3rem 0 1rem 0;  
    img {
      float: left;
      width: 90px;
      margin-right: 1rem;
    }
    a.learn {
      color: $black;
      font-size:1.2rem;
      position:relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 2px;
        background: #323232;
      }
      &:hover {
        color:$interactive-color;
        text-decoration:none;
        &:after {
          background:$interactive-color;
        }
      }
    }
  }
}
