@import "./UniversalStyles";

.auth0-lock-header-welcome {
  >div {
    display: none;
    padding-top: 1rem;
  }
}

.contentArea {
  padding-top: 64px;
  min-height: 20em;

  @include media-breakpoint-down(md) {
    padding-top: 150px;
  }
}

.drawer {
  div {
    z-index: 30000;
    // background-color: white;
    color: black;
    transition:background-color 0.25s;
  }

  >div>div>a>div, >div>div>span>div {
    padding-left:20px;
  }

  > div:nth-child(2) {
    @include media-breakpoint-down(md) {
      padding: 140px 0 0 0;
    }
    padding: 70px 0 0 0;
    a {
      &:hover, &:focus {
       div {
         background-color:$dark-grey;
       }
      }
    }
  }
  .loginButtonMenu {
    button {
      height: 40px !important;
      font-family:'Fakt' !important;
      div {
        border-radius:2px;
        background:#444;
        span {
          color:white;
          text-transform:none !important;
          font-size:100% !important;
        }
      }
    }
  }
  .profileButtonMenu {
    height: 40px !important;
    font-family:'Fakt' !important;
    div {
      border-radius:2px;
      background:#444;
      span {
        color:white;
        text-transform:none !important;
        font-size:100% !important;
      }
    }
  }
}

.menuitem a div div {
  color: black;
  background: pink;
}

.appbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar-component {
  background-color: #222;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1999;

  .nav-bar-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .logo-area {
    float: left;
    width: 250px;
    @include media-breakpoint-up(lg){
      width:25%;
    } 

    .menu-icon {
      float: left;
      padding: 16px 20px;
      background:#222;
      margin-right:10px;
      cursor:pointer;
      @include media-breakpoint-up(sm){
        margin-right:16px;
      }
      &:hover{
        cursor:pointer;
        img {
          opacity: 1;
        }
      }
      img {
        width: 32px;
        height: 32px;
        opacity: 0.5;
      }
    }

    .logo {
      float: left;
      padding: 14px 0;

      img {
        height: 35px;
      }
    }
  }

  .search-box-area {
    float: left;
    padding:0 15px;
    position: absolute;
    margin-top: 64px;
    background-color: lighten($black,10%);
    width: 100%;
    box-sizing: border-box;
    margin-top: 64px;
    @include media-breakpoint-up(lg) {
      padding:0;
      position:relative;
      margin-top:0;
      width:40%;
      background-color:transparent;
    }
  }

  .login-area {
    float: right;
    margin-right: 32px;

    .user-actions {
      float: left;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      color: #fff;
    }

    .sign-in {
      padding: 12px 32px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      float: left;
      color: #fff;
    }
  }
}

.searchIcon {
  float: left;
  height: 16px;
  opacity: 0.8;
  margin-top: 24px;
  margin-right: -48px;
  margin-left: 12px;
}

// Create content button 
.createButton {
  background: #fff;
  position:absolute;
  display:inline-block;
  right:110px;
  top:12px;
  height:40px;
  padding:8px 14px 0;
  border-radius:2px;
  transition:background .2s;
  color:$black;
  font-weight:500;
  @include media-breakpoint-up(sm) {
    position:absolute;
    display:inline-block;
    padding:8px 16px 0;
    right:120px;
    top:12px;
    right:120px;
  }
  &:after {
    content:"+";
    position:relative;
    color:#000;
    font-weight:500;
    @include media-breakpoint-up(sm) {
      border-left:1px solid #000;
      margin-left:10px;
      padding-left:10px;
    }
  }
  &:hover {
    background:#eee;
  }
}

.new {
  transition:background .2s;
  color:$black;
  font-weight:500;
  &:after {
    border-left:1px solid #fff;
    color: #fff;
  }
  button {
    height: 40px !important;
    font-family:'Fakt' !important;
    div {
      border-radius:2px;
      background:$interactive-color;
      span {
        color:white;
        text-transform:none !important;
        font-size:100% !important;
        &:after {
          content: '|  +';
          padding-left: 9px;
          white-space: pre;
        }
      }
    }
  }
}

// reset the extra padding in this div for consistency 
// set max width for this element
.container-fluid {
  padding-left:0;
  padding-right:0;
  max-width:1440px;
}

.error-message {
  padding: 2em;
  font-size: 2rem;
}
