@import "./UniversalStyles";

.contentArea {
  padding-top: 64px;
  min-height: 20em;

  @include media-breakpoint-down(md) {
    padding-top: 112px;
  }
}

.drawer div {
  z-index: 30000;
  background-color: white;
  color: black;
  transition:background-color 0.25s;
}

.drawer > div:nth-child(2) {
  padding: 64px 0 0 0;
  a {
    background:#fff;
    div {
      padding-left:20px;
    }
    &:hover, &:focus {
      div {
        background-color:$dark-grey;
      }
    }
  }
}

.menuitem a div div {
  color: black;
  background: pink;
}

.appbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar-component {
  background-color: $primary-color;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 9999;

  .nav-bar-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .logo-area {
    float: left;
    width: 320px;
    @include media-breakpoint-up(lg){
      width:25%;
    }

    .menu-icon {
      float: left;
      padding: 16px 20px;
      background:#222;
      margin-right:16px;
      &:hover{
        background:#444;
      }
      img {
        width: 32px;
        height: 32px;
        opacity: 0.5;
      }
    }

    .logo {
      float: left;
      padding: 14px 0;

      img {
        height: 35px;
      }
    }
  }

  .search-box-area {
    float: left;
    width: 40%;
    padding-left: 15px;

    @include media-breakpoint-down(md) {
      position: absolute;
      margin-top: 64px;
      background-color: lighten($black,10%);
      width: 100%;
      padding-left: 36px;
      padding-right: 36px;
      box-sizing: border-box;
      margin-top: 64px;
    }
  }

  .login-area {
    float: right;
    margin-right: 32px;

    .user-actions {
      float: left;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      color: #fff;
    }

    .sign-in {
      padding: 12px 32px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      float: left;
      color: #fff;
    }
  }
}

.searchIcon {
  float: left;
  height: 16px;
  opacity: 0.8;
  margin-top: 24px;
  margin-right: -48px;
  margin-left: 12px;
}

// reset the extra padding in this div for consistency 
.container-fluid {
  padding-left:0;
  padding-right:0;
}
