@import "./UniversalStyles";

.auth0-lock-header-welcome {
  >div {
    display: none;
    padding-top: 1rem;
  }
}

.auth0-lock-header {
  background: $black;
  .auth0-lock-header-welcome {
    padding-top: 1rem;
    img {
      height: 50px !important;
    }
  }
  .auth0-lock-header-bg {
    background: $black !important;
    .auth0-lock-header-bg-blur {
      display: none !important;
    }
  }
}

.auth0-lock-social-button-text {
  background-color: #444;
}

.contentArea {
  padding-top: 64px;
  min-height: 20em;
  .home {
    @include media-breakpoint-down(md) {
      padding-top: 28px;
    }
  }
}

.drawer {
  div {
    z-index: 30000;
    color: black;
    transition:background-color 0.25s;
  }

  >div>div>a>div, >div>div>span>div {
    padding-left:20px;
  }

  > div:nth-child(2) {
    @include media-breakpoint-down(md) {
      padding: 140px 0 0 0;
    }
    padding: 70px 0 0 0;
    a {
      &:hover, &:focus {
       div {
         background-color:$dark-grey;
       }
      }
    }
  }
  .loginButtonMenu {
    button {
      height: 40px !important;
      font-family:'Fakt' !important;
      div {
        border-radius:2px;
        background:#444;
        span {
          color:white;
          text-transform:none !important;
          font-size:100% !important;
        }
      }
    }
  }
  .profileButtonMenu {
    height: 40px !important;
    font-family:'Fakt' !important;
    div {
      border-radius:2px;
      background:#444;
      span {
        color:white;
        text-transform:none !important;
        font-size:100% !important;
      }
    }
  }
}

.menuitem a div div {
  color: black;
  background: pink;
}

.appbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar-component {
  background-color: #222;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 1999;

  @include media-breakpoint-down(sm){
    position:relative;
  } 

  .nav-bar-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .logo-area {
    float: left;
    width: 250px;
    padding-left: 0.5rem;
    @include media-breakpoint-up(lg){
      width:26%;
    } 
    @include media-breakpoint-only(xs){
      width: 196px;
    } 

    .menu-icon {
      float: left;
      padding: 16px 20px;
      cursor:pointer;
      @include media-breakpoint-only(xs){
        padding: 16px 8px 16px 3px;
      } 
      &:hover{
        cursor:pointer;
        svg {
          fill: grey !important;
        }
      }
    }

    .logo {
      float: left;
      padding: 1rem 0;
      font-size: 1.4rem;
      font-weight: $medium-weight;
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .search-box-area {
    float: left;
    // padding:0 15px;
    position: absolute;
    margin-top: 64px;
    background-color: lighten($black,10%);
    width: 100%;
    box-sizing: border-box;
    margin-top: 64px;
    @include media-breakpoint-only(md){
      padding: 0 30px;
    }
    @include media-breakpoint-down(sm){
      padding: 0 15px;
    }  
    @include media-breakpoint-up(md) {
      padding-left:0.6rem;
      position:relative;
      margin-top:0;
      width:44.5%;
      background-color:transparent;
    }
    @include media-breakpoint-only(xl) {
      padding-left:0.6rem;
      position:relative;
      margin-top:0;
      width:47.5%;
      background-color:transparent;
    }
  }

  .login-area {
    float: right;
    margin-right: 32px;

    .user-actions {
      float: left;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      color: #fff;
    }

    .sign-in {
      padding: 12px 32px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.25);
      margin: 12px 0;
      font-weight: 100;
      display: block;
      float: left;
      color: #fff;
    }
  }
}

.searchIcon {
  float: left;
  height: 16px;
  opacity: 0.8;
  margin-top: 24px;
  margin-right: -48px;
  margin-left: 12px;
}

// // Quick submit button 
.qs-button-case {
  position:absolute;
  right:130px;
  top:14px;
}

// Create content button 
.publishButton {
  background: #fff;
  position:absolute;
  display:inline-block;
  right:110px;
  top:12px;
  height:40px;
  padding:8px 14px 0;
  border-radius:2px;
  transition:background .2s;
  color:$black;
  @include media-breakpoint-up(sm) {
    position:absolute;
    display:inline-block;
    padding:8px 16px 0;
    right:120px;
  }
  .publishButton-text {
    position:relative;
    top: -7px;
    &:before {
      font-weight:$medium-weight;
      content:"+";
      padding-right: 7px;
      color:#000;
      font-size: 1.5rem;
    }
  }
  &:hover {
    background:#eee;
  }
}


// reset the extra padding in this div for consistency 
// set max width for this element
// .container-fluid {
//   padding-left:0;
//   padding-right:0;
//   max-width:1440px;
// }

.error-message {
  padding: 2em;
  font-size: 2rem;
}
