.avatar {
  position: fixed;
  right: 1em;
  top: 0.5em;
  color: black;
}

.loginButton {
  position: fixed;
  right: 1em;
  top: 12px;
  border-radius:2px;
  background:#444;
  
  button {
    height: 40px !important;
    font-family:'Fakt' !important;
    div {
      span {
        text-transform:none !important;
        font-size:100% !important;
      }
    }
  }

  div {
    color: white;
  }
}
