@import "./UniversalStyles";

.avatar {
  float: right;
  padding-right: 2.3rem;
  padding-top: 0.2rem;
  color: black;
  @include media-breakpoint-only(xs) { 
    padding-right: 1rem;
  }
}

.loginButton {
  float: right;
  margin-right: 1rem;
  margin-top: 0.9rem;
  border-radius:2px;
}
