@import "./UniversalStyles";

.react-dropzone-s3-uploader {
  width: 460px;
  height: 40px;
  border: solid 2px $black;
  border-radius: 5;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  svg {
    visibility: hidden;
  }
  @include media-breakpoint-down(sm){
    width: 56px;
    height: 56px;
    float: right;
  }
}
