@import "./UniversalStyles";

.react-dropzone-s3-uploader {
  width: 70%;
  height: 49px;
  border: solid 2px $black;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  svg {
    visibility: hidden;
  }
  &:after {
    content: 'Select a photo from your device';
    color: rgba(0, 0, 0, 0.47);
    position: absolute;
    left: 0;
    top: 3px; 
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  &.files {
    &:after {
      content: 'Upload relevant documents';
    }
  }
  @include media-breakpoint-down(sm){
    width: 255px;
  }
}
