@import "./UniversalStyles";

.static {
  a {
    text-decoration: underline;
    color: #000;
    &:hover {
      color: #000;
    }
  }
  h1, h2, h3 {
    span {
      font-weight: $medium-weight;
    }
  }
  .accordion {
    .sub-accordion {
      .tab {
        padding-bottom: 0.8rem;
      }
    }
  }
  .sub-head {
    font-weight: $medium-weight;
  }
}
