@import '../node_modules/bootstrap/scss/_variables';
@import '../node_modules/bootstrap/scss/mixins/_breakpoints';
$blue: #3f51b2;
$orange: #ff6f00;
$black: #323232;
$red: #ec1414; 
$grey: #f3efec;
$dark-grey: #ece8e6;
