@import 'bootstrap-custom';
$blue: #3f51b2;
$orange: #ff6f00;
$black: #323232;
$red: #ec1414; 
$light-grey: #f1f1f1;
$dark-grey: #e6e6e6;
$grey-text: #323232;

$primary-color: $black;
$interactive-color: $red;

$blond-weight: 300;
$normal-weight: 400;
$medium-weight: 600;

.qs-mobile {
  transition:background .2s;
  color:$black;
  font-weight:500;
  &:after {
    border-left:1px solid #fff;
    color: #fff;
  }
  button {
    height: 40px !important;
    background: none !important;
    div {
      border-radius: 2px;
      background:$interactive-color;
      span {
        color: white !important;
        text-transform: none !important;
        font-size: 1rem !important;
        &:before {
          font-weight:$medium-weight;
          content:"+";
          padding-right: 7px;
          font-size: 1.5rem;
          font-weight:600;
        }
      }
    }
  }
}

input {
  font-family:'Fakt' !important;
}

.medium {
  font-weight: $medium-weight;
}

.normal {
  font-weight: $normal-weight;
}

.blond {
  font-weight: $blond-weight;
}

.customButton {
  &.left {
    margin-left: 0 !important;
  }
  button {
    div {
      span {
        font-size: 1rem !important;
        text-transform: capitalize !important;
        font-weight: $normal-weight !important;
      }
    }
  }
}

.qs-button {
  @include media-breakpoint-up(sm) {
    margin-left: 0.4rem;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 0.4rem;
  }
  svg {
    stroke: $black !important;
    stroke-width: 1px;
    width: 20px !important;
    height: 20px !important;
    transform: translateY(-1px);
  }
}
