@import 'bootstrap-custom';
$blue: #3f51b2;
$orange: #ff6f00;
$black: #323232;
$red: #ec1414; 
$light-grey: #f1f1f1;
$dark-grey: #e6e6e6;
$grey-text: #323232;

$primary-color: $black;
$interactive-color: $red;

.new, .quick {
  transition:background .2s;
  color:$black;
  font-weight:500;
  &:after {
    border-left:1px solid #fff;
    color: #fff;
  }
  button {
    height: 40px !important;
    background: none !important;
    div {
      border-radius: 2px;
      background:$interactive-color;
      span {
        color: white !important;
        text-transform: none !important;
      }
    }
  }
}

// .new {
//   button {
//     div {
//       span {
//         &:after {
//           content: '|  +';
//           padding-left: 9px;
//           white-space: pre;
//         }
//       }
//     }
//   }
// }

.full-submit {
  button {
    div {
      border-radius: 2px;
      background: $black;
      span {
        color: white !important;
        text-transform: capitalize !important;
      }
    }
  }
}
